.btn {
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:hover:active {
  transform: scale(1.025);
}

.btn-brand {
  background-color: var(--brand-color);
  color: var(--subtle-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--subtle-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.btn-subtle {
  background-color: var(--subtle-color);
  color: var(--primary-color);
}

.btn-light {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.btn-transparent {
  color: var(--primary-color);
}

.btn-border {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-round {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
