.main-tabselector {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.list-map-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.list {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-item {
  display: flex;
  align-items: stretch;
  gap: var(--spacing-m)
}

.list-item-content {
  display: flex;
  flex-direction: column;
}

.list-item-content-description {
  margin-top: var(--spacing-m);
}

.list-item-img {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  flex-shrink: 0;
}

.selected-tab {
  background-color: blue;
}
