.restaurant-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  max-width: 500px;
  padding: var(--spacing-l);
}

.restaurant-head {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.restaurant-head-stars {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  padding-top: var(--spacing-s);
}

.restaurant-head-btn {
  display: flex;
  align-content: center;
  gap: var(--spacing-s);
  flex-grow: 0;
}

.restaurant-review-head {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--spacing-m);
  align-items: center;
}

.restaurant-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.restaurant-review-stars {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.restaurant-review-icons {
  display: flex;
  gap: var(--spacing-m);
}
