.restaurant-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.restaurant-head {
  display: flex;

}

.restaurant-stars {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.restaurant-review-head {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--spacing-m);
  align-items: center;
  margin-bottom: var(--spacing-l);
}

.restaurant-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.restaurant-review-stars {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.restaurant-review-icons {
  display: flex;
  gap: var(--spacing-m);
}
